/* .task {
    padding: .9375rem;
    margin: 1.25rem;
    border-radius: .9375rem;
    box-shadow: 0 0 .3125rem grey;
}

.redTask {
    color: red;
}

.greenTask {
    color: green;
}

.doneTask {
    text-decoration: line-through;
}

.roundBorger {
    border-radius: .9375rem;
    border: .0625rem solid gray;
}

div {
    padding: 1.25rem;
    border: .0625rem solid red;
}

body {
    padding: .625rem;
}
article {
    margin: 6.25rem auto 0;
    padding: 2.5rem;
    font-size: 2.25rem;
    text-align: center;
    font-family: sans-serif;
    border-radius: 1.5625rem;
    box-shadow: 0 0 .3125rem purple;
} */

:root {
    font-family: sans-serif;
    --user-img-size: 6.25rem;
}

.userCard {
    display: flex;
    gap: .9375rem;
    align-items: center;
    box-shadow: grey 0 0 .3125rem;
    margin: .625rem;
    padding: .9375rem;
    border-radius: .9375rem;
}

.userImg {
    width: var(--user-img-size);
    height: var(--user-img-size);
    border-radius: 50%;
    border: .125rem solid violet;
}

.userName {
}

.userAge {
    color: grey;
}

.trashIcon {
    margin-left: auto;
}
